In [18]:
# Import libraries
import pandas as pd
import numpy as np
import quandl

In [19]:
# Authenticate quandl api key
quandl_api_key = "Zmns8n4ypL4kRmFxnsxC"
quandl.ApiConfig.api_key = quandl_api_key

In [ ]:
# Data sources: Bank of England, St. Louis FED, United Kingdom Office of National Statistics

In [35]:
# Create dataframe, retrieve UK economic data, merge, and rename columns
df = quandl.get('BOE/XUDLDS6') # USD to GBP, 6-month forward exchange rate
df.rename(columns = {'Value':'fwd_6mo_usd_to_gbp'}, inplace = True)

df = pd.merge(df, quandl.get('BOE/IUDMNIF'), left_index = True, right_index = True) # 10yr nominal implied forward treasury yield, %
df.rename(columns = {'Value':'10yr_treasury_yield'}, inplace = True)

df = pd.merge(df, quandl.get('UKONS/IHYQ_Q'), left_index = True, right_index = True) # QOQ GDP Growth, CVM SA
df.rename(columns = {'Value':'uk_gdp_qoq_cvm_sa_growth_%'}, inplace = True)

df = pd.merge(df, quandl.get('UKONS/ZXDW_Q'), left_index = True, right_index = True) # Quarterly SA UK Unemployment Rate
df.rename(columns = {'Value':'uk_unemployment_sa_%'}, inplace = True)
df.head()

,fwd_6mo_usd_to_gbp,10yr_treasury_yield,uk_gdp_qoq_cvm_sa_growth_%,uk_unemployment_sa_%
Date,,,,
1993-03-31,1.4876,9.1854,0.7,10.4
1993-06-30,1.4824,8.5956,0.5,10.2
1993-09-30,1.4803,7.6200,0.8,10.1
1993-12-31,1.4656,6.7742,0.7,10.1
1994-03-31,1.4757,7.5876,1.2,9.8

In [32]:
df['uk_import_annual_%_change'].notnull().sum()

26